{% extends 'navbar.html'%}
{% block content %}
  <!-- Favicons -->
  <link href="{{ url_for('static', filename='gae/favicon.png') }}" rel="imyproject_by_flask/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <style>


#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

    .top-right-buttons {
      position: absolute;
      top: 10px;
      right: 20px;
      display: flex;
      color: rgb(15, 13, 13);
    }
  
    .top-right-buttons a {
      margin-left: 10px;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none; /* Add this to remove underlines from links */
      transition: background-color 0.3s; /* Add a transition for smooth hover effect */
    }
  
    .top-right-buttons a:hover {
      background-color: rgb(19, 206, 223);
      text-emphasis-color: black;
    }
     

        /* CSS code */
    ul.flashes {
        list-style-type: none;
        padding: 10px;
    }

    ul.flashes li {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }

    ul.flashes li.success {
        background-color: #dff0d8; /* Green background for success messages */
        color: #3c763d;
    }

    ul.flashes li.danger {
        background-color: #f2dede; /* Red background for error messages */
        color: #a94442;
    }
    .navbar {
      background-color: #faf5f5;
      overflow: hidden;
    }

    .navbar a {
      float: left;
      display: block;
      color: rgb(15, 13, 13);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
    }

    .navbar a:hover {
      background-color: rgb(19, 206, 223);
      color: black;
      border-radius: 10px;
    }

    .logo img {
      max-height: 50px; /* Adjust as needed */
      display: inline-block;
      margin-right: 10px;
    }
  </style> 
</head>

<body>
  
  <div class="work-section">
    <div id="content-mask" class="work-content">
  </div>
  
  <!-- ======= Hero Section ======= -->
  <div>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center"> 
    <div class="hero-container" data-aos="fade-in" >
      <h1>  Welcome to Express-BUS</h1>
      <div style = "padding-left: 60px;">
      <p style="color: rgb(255, 144, 65); border-radius: 2px solid black;">We Can Help You To <span class="typed" data-typed-items="Travel,Travel" style="color: rgb(226, 225, 225);"></span></p>
      </div>
    </div>
  </section><!-- End Hero -->
  </div>



   
 


    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="margin-left: 150px;">
        <div class="section-title">
          <h2>About</h2>
          <p>Express-Bus manages all the buses in our city, and it has been under development for the past eight years, covering all areas to provide facilities to our citizens. Everyone enjoys their journey with our buses, making it a memorable experience.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='img/backpic.jpg') }}" style="border-radius: 5px;" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Information About Us.</h3>
            <p class="fst-italic">
             Following
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Opening:</strong> <span>1 May 2015</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.express-bus.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9098293312</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Indore</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>From:</strong> <span>8 Years</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Work:</strong> <span>Travelling
                    And Transport</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>expressbus@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>Express-BUS, over the years, has strived to deliver easy booking solutions to its customers. Our continued efforts have resulted in Express-BUS becoming one of the leading and top-rated bus booking platforms in India for various bus services. We have a strong presence with a ticket inventory from over 1000 bus partners and 100 route options on our app and website.

              Founded in the year 2005, Express-BUS is a pioneer in providing end-to-end software and other value-added solutions such as fleet management solutions, vehicle tracking systems, passenger information systems, backed by a 24x7 customer support center. 
             </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" style="margin-left: 70px;">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>When considering the selection of buses for public transportation, there are several key parameters and factors that play a crucial role in making an informed decision. These factors encompass various aspects, such as capacity and fuel. Let's delve into some of the essential parameters to evaluate when it comes to buses.        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi smile emoji"></i>
              <span data-purecounter-start="0" data-purecounter-end="99" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Seat</strong> Of Capacity</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="80" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Percent </strong> Use CNG & Natural-Gas</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class=""></i>
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours </strong> Provide services</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Members</strong> In Our Team</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

   

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="margin-left: 70px ;">
      <div class="container">

        <div class="section-title">
          <h2>History</h2>
          <p>At the outset, when we considered managing the entire bus system in our city, it seemed like a daunting task to maintain all the buses at fixed times. After starting with only 10 buses at the beginning of the year, we have consistently increased our fleet, and now it comprises more than 150 buses.         </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title"></h3>
            <div class="resume-item pb-0">
              <h4>Planing</h4>
              <p><em>Around 2014, we had two buses that were used for local facilities within a 50km radius. Soon after, in the same year, we acquired ten more buses as part of our planning. 
                <ul>
                  <li>Rajendra Singh, (Head of Member Assembly)</li>
                  <li>Manshing Rajore, (Chief of School Department)</li>
                  <li>Rajwardhan Singh Sharma, (Ex IIM Director)</li>
                </ul>
            </div>

            <h3 class="resume-title">Success</h3>
            <div class="resume-item">
              <h4>Finally We Get In</h4>
              <h5>2015</h5>
              <p><em>We Decide to open a managment system of buses into our city.</em></p>
              <p>And Indore helped us vice versa, and now we have more than 150 buses. Thank you, Indore, for supporting us.</p>
            </div>
           
    </section><!-- End Resume Section -->

    
       <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Benefits</h2>
          <p>We have two offers available for this month, applicable to all,for monthly bus passes."
          </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="1">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Our plan for this month is 40% off for student.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='img/testimonials/student.png') }}" class="testimonial-img" alt="">
                <h3>Bus-Pass</h3>
                <h4>
                  Offer</h4>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="1">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Our plan for this month is 30% off for Handicapped.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='img/testimonials/handicap.png') }}" class="testimonial-img" alt="">
                <h3>Bus-Pass</h3>
                <h4>Offer</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination">
          
      </div>
    </section><!-- End Testimonials Section -->
  
    </main><!-- End #main -->
  
   
  <!-- ======= Footer ======= -->
    <footer id="footer" style="display: flex; flex-direction: row; background-color: #eecdcd; width: 1330px; height: 460px; position: relative;margin-left: 10px;">  
      <div class="col-lg-5 d-flex align-items-stretch" style="width: 340px;">
        <div class="info">  
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50155.731365968786!2d75.8552579!3d22.6852882!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fce2c1f7a605%3A0xf052d6f6d94333f3!2sSapna%20Sangeeta%20Rd%2C%20Snehnagar%2C%20Indore%2C%20Madhya%20Pradesh!5e1!3m2!1sen!2sin!4v1703154218437!5m2!1sen!2sin" frameborder="0" style="border:0; width: 350px; height: 310px; margin-top: 20px;"></iframe>
          <div class="copyright" style="color: black; height: 19px; margin-top: 45px; margin-right: 140px;font-size: medium;">
            &copy; Created by <strong><span>Ajay Malviya</span></strong>
          </div>
          <div class="credits" style="color: black; height: 19px; margin-top: 4px; margin-right: 4px; font-size: medium;">
            Designed using <a href="#">BootstrapMade</a>
          </div>
        </div>
        
      </div>
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" style="width: 220px; margin-left: 60px;  height: 380px;">
        <form action='/query' method="post" role="form" style="height: 320px; justify-content: center; align-items: center;"   onsubmit="return validateForms()">
          <div class="row"> 
            <div class="form-group col-md-6">
              <label for="email" style="color: black;"> Email</label>
              <input type="email" class="form-control" name="email" id="email" maxlength="30" title="must contain @gmail.com" pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$"required
              required style="width: 260px;" placeholder="Enter Your Gmail Id">
            </div>
          </div>
          <div class="form-group">
            <label for="message" style="color: black;">Message</label>
            <textarea class="form-control" id="message" name="message" rows="10" maxlength="150" minlength="10" title="Must start with a letter and can contain letters, digits, hyphen, and space." pattern="[A-Za-z][A-Za-z0-9\- ]*" placeholder="Enter Message"></textarea>
        </div>
        
          <div class="my-3" style="color: black;">
            <div class="error-message"></div>
          </div>
          <div class="text-center"><button type="submit"  onclick="loadData()" >Send Message</button></div>
        </form>
       
  
        {% with messages = get_flashed_messages() %}
        {% if msg %}
            <div class="flash-messages">
                {% for message in msg %}
                    <div class="flash-message" style="margin-left: 40%; color: black;">{{ msg }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
      </div>
     
      
      <script>
        function validateForms() {
          var emailRegex = /.*@gmail\.com$/;
          var messageRegex = /^[A-Za-z][A-Za-z0-9\-_ ]*$/;
      
          var emailInput = document.getElementById("email");
          var messageInput = document.getElementById("message");
          var errorMessage = document.querySelector(".error-message");
      
          if (!emailRegex.test(emailInput.value)) {
            errorMessage.textContent = "Please enter a valid Gmail ID. it must end with @gmail.com";
            return false;
          } else if (!messageRegex.test(messageInput.value)) {
            errorMessage.textContent = "Please enter a valid message. Must start with a letter and can contain letters, digits, hyphen, and space.";
            return false;
          } else {
            errorMessage.textContent = "";
            return true;
          }
        }
      </script>

      <!-- <script>
        $(document).ready(function() {
            $("#contact-form").submit(function(e) {
                e.preventDefault();  // Prevent the default form submission

                $.ajax({
                    type: "POST",
                    url: "/query",
                    data: $(this).serialize(),  // Serialize the form data
                    success: function(response) {
                        // Update the result div with the response from the server
                        $("#result").html(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
      </script>
           -->
      <div style="margin-left: 80px; color: black; width: 130px; margin-top: 18px; height: 320px;">
        <div>
          <a href="#hero" class="bus-info" style="font-size: large; color: black; margin-top: 10px;text-decoration: underline;">Home</a>
        </div>
        <div style="margin-top: 25px;">
          <a href="#about" class="bus-info" style="font-size: large; color: black; text-decoration: underline; margin-top: 40px;">About</a>
        </div>
        <div style=" margin-top: 25px;">
          <a href="#resume" class="bus-info" style="font-size: large; color: black; text-decoration: underline;">History</a>   
        </div>
        <div style=" margin-top: 25px;">
          <a href="{{url_for('usertype')}}" class="bus-info" id="login_page" style="font-size: large; color: black;  text-decoration: underline;">Login</a>   
        </div>
        <div style=" margin-top: 25px;">
          <a href="{{url_for('register')}}" class="bus-info" id="register_page" style="font-size: large; color: black; width: 250px; text-decoration: underline;">Sign Up</a>   
        </div>
        <br>
        <div>
          <p id="demo" style="font-size: larger;"> </p>
          <button onclick="loadData()"> gift</button>
        </div>
     
      </div>
      <script>
        function loadData() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              console.log(this.responseText);
              document.getElementById("demo").innerHTML = this.responseText;
            }
          };
          xhttp.open('GET' , '/thanks', true);  
                        //'GET' is the method, then the path or URL of the file, and
                        //finally, the async mode which is always set to true in our case.                      

      
          xhttp.send();
        }
      </script>
      <div class="profile" style="margin-right: 100px; margin-top:10px; width: 30px;">
        
         <div class="social-links mt-3 text-center" style="height: 80px; font-size: x-large; margin-left: 42px; color: black;">
          <a href="https://about.twitter.com/en" class="twitter" style="color: black;"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/" class="facebook"  style="color: black;"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/" class="instagram"  style="color: black;"><i class="bx bxl-instagram"></i></a>  
          <a href="https://www.linkedin.com/feed/" class="linkedin"  style="color: black;"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <div class="row" data-aos="fade-in" style="margin-top: 5px;">  
        <div class="col-lg-5 d-flex align-items-stretch" style=" margin-top: 5px; margin-left: 10px; background-color:  #eecdcd; z-index: 11;">
        <div class="info" style="color: black; margin-left: 30px;">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>A108 Sapna Sangeeta ,Indore,IN 535022</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>expressbus@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+91 9098293312</p>
          </div>

       
    </footer><!-- End  Footer -->
    <div>
      <marquee behavior="fade-left" direction="right" style="background-color: black; color: white;">Thankyou for visiting my website </marquee>
      <p style="background-color: black; margin-bottom: 0%;"></p>
    </div>
    
        
    
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/typed.js/typed.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

 

<!-- -----------------------this for hide  registration page with sidebar---------------------------- -->
{%endblock%}